<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <!-- Link Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; font-family: 'Roboto', sans-serif; background-color: #ffffff;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
        <tr>
            <td align="center" bgcolor="#ffffff" style="padding: 40px 20px;">
                <img src="https://raw.githubusercontent.com/Haile-08/Aitlin/21413c6ac599cbbb49c9a9c837dfa5e67eb731b9/client/src/assets/logo.svg" alt="Logo" width="200" height="auto" style="display: block; margin-top: 100px">
                <h1 style="margin: 30px 0 0; font-size: 24px; color: #000000; text-align: left;">Dear {{name}},</h1>
                <p style="margin: 20px 0 0; font-size: 16px; color: #000000; line-height: 1.5; text-align: left;">You recently requested to reset your Payoneer password. To select a new password, click on the button below:</p>
                <table border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
                    <tr>
                        <td bgcolor="#394180" style="border-radius: 5px;">
                            <a href="https://{{link}}" style="display: inline-block; padding: 15px 30px; color: #ffffff; text-decoration: none; font-size: 16px;">Reset Password</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
